<div class="container">
    <div class="row">
      <div class="col-sm">
        <mat-card class="card">
            <mat-card-title>
                <span *ngIf="messageService.messages.length">Mensagens</span>
                <span *ngIf="messageService.messages.length <= 0">Sem Mensagems</span>
            </mat-card-title>
            <mat-card-content *ngIf="messageService.messages.length">               
                <mat-card-subtitle *ngFor='let message of messageService.messages'><span>{{message}}</span></mat-card-subtitle>               
            </mat-card-content> 
            <div *ngIf="messageService.messages.length">                                                                                                      
                <button mat-fab color="primary" (click)="messageService.clear()">Clear</button>
            </div>
          </mat-card>

      </div>
    </div>
</div>

