/* HeroesComponent's private CSS styles */
.heroes {
    margin: 0 0 2em 0;
    list-style-type: none;
    padding: 0;
    width: 15em;
  }
  .heroes li {
    cursor: pointer;
    position: relative;
    left: 0;
    background-color: #EEE;
    margin: .5em;
    padding: .3em 0;
    height: 1.6em;
    border-radius: 4px;
  }
  .heroes li:hover {
    color: #607D8B;
    background-color: #DDD;
    left: .1em;
  }
  .heroes li.selected {
    background-color: #CFD8DC;
    color: white;
  }
  .heroes li.selected:hover {
    background-color: #BBD8DC;
    color: white;
  }
  .heroes .badge {
    display: inline-block;
    font-size: small;
    color: white;
    padding: 0.8em 0.7em 0 0.7em;
    background-color:#405061;
    line-height: 1em;
    position: relative;
    left: -1px;
    top: -4px;
    height: 1.8em;
    margin-right: .8em;
    border-radius: 4px 0 0 4px;
  }
  .list-card {
    width: max-content; 
    height: fit-content;
    margin-left: 10px; 
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .inputs-card {
    width: min-content; 
    margin-left: 10px; 
    margin-top: 10px;
  }

  mat-card:not([class*=mat-elevation-z]) {
    background: rgb(88, 97, 104);
    box-shadow: 0 2px 1px -1px rgb(3, 3, 3), 
                0 1px 1px 0 rgb(0, 0, 0), 
                0 1px 3px 0 rgb(0, 0, 0);
  }
  span{
    color: #ffffff;
  }
  input{
    color: #ffffff;
  }
